
<ion-content>
  <div class="backgroun-inves">

  </div>
  <div class="main-content">
    <img class="profile-image" src="../../assets/primoricc.png" > 
    <h4>Primo Rico</h4>
    <p class="rank-geral">13 <i class="fas fa-medal"></i></p>
    <p class="user-rede">@primorico</p>
    <p class="bio">Investidor e Influencer</p>
    <p class="perfil-moderado">Moderado</p>

    <div class="list-options">
      <span>FEED</span>
      <span>SEGUIDORES</span>
      <span>SEGUINDO</span>
      <span>INFO</span>
      <span class="selected">PERFIL DE BATALHA</span>
    </div>

    <div class="content-infos">
      <div class="patri">
        <p>Patrimônio <span>156K</span></p>
        <p>Vitórias<span>13</span></p>
      </div>
      <div class="single-investimento">
        <p>ITUB4 <span>30</span></p>
      </div>
      <div class="single-investimento">
        <p>BBDC4 <span>35</span></p>
      </div>
      <div class="single-investimento">
        <p>BBAS3 <span>35</span></p>
      </div>
      <div class="single-total">
        <p>Total: <span>100<b class="crescente">6% <i class="fas fa-sort-amount-up"></i></b></span> </p>
      </div>
    </div>
    <div>
        <img src="../../assets/grafico.jpeg">
    </div>
  </div>
</ion-content>