<ion-header>
  <ion-toolbar>
    <ion-title>Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="line-parti">
    <div class="participante">
      <img src="../../assets/palestrante-guilherme.jpg" >
      <div class="infos">
          <h5>Guilherme B.</h5>
          <div style="display: flex; align-items: center;font-size: 12px !important;height: 18px;">
            <p class="rank-geral">1 <i class="fas fa-medal"></i></p>
            <p><span><b class="crescente">6% <i class="fas fa-sort-amount-up"></i></b></span> </p>
          </div>
      </div>
      
      
    </div>

    <div class="participante">
        <img src="../../assets/primoricc.png" >
        <div class="infos">
            <h5>Primo Rico</h5>
            <div style="display: flex; align-items: center;font-size: 12px !important;height: 18px;">
              <p class="rank-geral">2 <i class="fas fa-medal"></i></p>
              <p><span><b class="crescente">2% <i class="fas fa-sort-amount-up"></i></b></span> </p>
            </div>
        </div>
        
        
      </div>

      <div class="participante">
          <img src="../../assets/kaka.jpg" >
          <div class="infos">
              <h5>Kaká</h5>
              <div style="display: flex; align-items: center;font-size: 12px !important;height: 18px;">
                <p class="rank-geral">3 <i class="fas fa-medal"></i></p>
                <p><span><b class="crescente">10% <i class="fas fa-sort-amount-up"></i></b></span> </p>
              </div>
          </div>
          
          
        </div>

      <div class="participante">
          <img style="width: 45px;"  src="../../assets/na-audiencia-roberto-justus-estreia-com-o-pe-esquerdo-na-band-5c9063c2dcf5a.jpg " >
          <div class="infos">
              <h5>Roberto Justus</h5>
              <div style="display: flex; align-items: center;font-size: 12px !important;height: 18px;">
                <p class="rank-geral">4 <i class="fas fa-medal"></i></p>
                <p><span><b class="crescente" style="color: red">7% <i class="fas fa-sort-amount-down"></i></b></span> </p>
              </div>
          </div>
          
          
        </div>

        

          <div class="participante">
              <img src="../../assets/gabriel.png" >
              <div class="infos">
                  <h5>Gabriel Dantas</h5>
                  <div style="display: flex; align-items: center;font-size: 12px !important;height: 18px;">
                    <p class="rank-geral">5 <i class="fas fa-medal"></i></p>
                    <p><span><b class="crescente" style="color: red">1% <i class="fas fa-sort-amount-down"></i></b></span> </p>
                  </div>
              </div>
              
              
            </div>
  </div>
  
</ion-content>
